
# Top-level requirements file. Project-specific requirements are delegated to service folders.

# Include backend dependencies
-r backend/requirements.txt

# For frontend dependencies use `frontend/package.json`

